<p>Halo,</p>

<p>
  Silakan klik tautan di bawah ini untuk membuat password baru (berlaku selama 10 menit):
</p>

<p>
  <a href="{{link}}">{{link}}</a>
</p>



<br>

<p>Salam hormat,</p>
<p>Tim PSE Kominfo</p>
