<p>
    Akun PSE Anda telah diaktifkan, silakan login menggunakan :
    <br><br>
    Username : {{ email }}
    <br>
    Password : {{ email }}
    <br>
    <br>
    <br>
    <br>
    <br>
    Admin PSE
</p>
