<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pemeberitahuan</title>
</head>
<body>
Yth {{ name }}, <br><br>
Status keanggotaan Anda sedang menunggu persetujuan dari admin,
Anda akan mendapatkan email pemberitahuan setelah account Anda disetujui.<br><br>
Best Regards,<br>
Webmaster PSE
</body>
</html>
