<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verifikasi OTP</title>
</head>
<body>
Yth {{ name }}, <br><br>
Kode verifikasi OTP Anda adalah <b>{{ otp }}</b>. Dalam waktu 1 jam kode ini akan kadaluarsa.<br><br>
Webmaster PSE
</body>
</html>
