<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pemeberitahuan!</title>
</head>
<body>
Yth {{ name }}, <br><br>
Akun anda telah di aktifkan oleh admin<br>
Email : {{ username }} <br>
Password Untuk Login Akun Anda : {{ random_password }} <br>
Silahkan Ganti Password Anda Ketika Berhasil Login di SSO <br>
Webmaster PSE
</body>
</html>
