<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Status keanggotaan Anda saat ini telah disetujui oleh admin.</title>
</head>
<body>
Yth {{ name }}, 
<br><br>
Status keanggotaan Anda saat ini telah disetujui oleh admin.
<br><br>
Silahkan login melalui {{ appUrl }} halaman untuk mengakses account Anda.
<br><br>
Best Regards,<br>
Webmaster PSE
</body>
</html>
